#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="9"
display_name="duckling"
repository_name="facebook/duckling"
repository_url="https://github.com/facebook/duckling.git"
license="BSD"
build_framework="cabal"
test_frameworks=("tasty" "tasty-hunit" "tasty-golden")
fi

# Bug
full_bug_id="duckling-2"
bug_id="2"
fault_commit="a93cae1c02c28c51e5bce1f03132a211bbda7dce"
fix_commit="1dac46a8ce001d9f12361ba9b138805de514b072"
patch_test=true
ghc_version="8.6.3"
description="Duckling can parse multiple items, and sometimes these can be ambigious depending on their context. In the spanish, 'una hora' can either refer to 1PM or to 1 hour, which was not properly recognized before. The fix is to account for this ambiguity with the existing ambiguity logic."
categories=("unit-test" "time" "parsing" "ambiguity")
issues=("")
prs=("https://github.com/facebook/duckling/pull/478")
