#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="6"
display_name="pandoc"
repository_name="jgm/pandoc"
repository_url="https://github.com/jgm/pandoc.git"
license="GPLv2"
build_framework="stack"
test_frameworks=("tasty" "tasty-golden" "tasty-hunit" "tasty-quickcheck")
fi

# Bug
full_bug_id="pandoc-5"
bug_id="5"
fault_commit="651a3d96c499a27556f6a12591bc04bd4cba7630"
fix_commit="c3b170be1c3c11465e5b0a64b6f59c875323a592"
patch_test=true
ghc_version="8.10.7"
description="When a code-block starts with a period, ROFF MS interpreted this as a command rather than a part of the code-block. The solution is to escape the periods."
categories=("integration-test" "close-to-unit-test")
issues=("https://github.com/jgm/pandoc/issues/6505")
prs=("https://github.com/jgm/pandoc/pull/6513")
