#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
	 #!/bin/bash
	 repository_id="1"
	 display_name="hledger"
	 repository_name="simonmichael/hledger"
	 repository_url="https://github.com/simonmichael/hledger.git"
	 license="GPL-3.0"
	 build_framework="stack"
	 test_frameworks=("doctest" "tasty" "tasty-hunit" "hspec" "yesod-test" )
fi

# Bug
full_bug_id="hledger-3"
bug_id="3"
fault_commit="852ba7b10000077c6d77eda50bf76ea1019f0368"
fix_commit="a65e64115a1e19033c3d51bb1a89081e6a03d3aa"
patch_test=true
ghc_version="8.10.7"
description="Incorrect parsing for alias regexes, solved by adding the right 'between' and adding a line for allowing any character to be doubly escaped."
categories=("integration-test" "parser")
issues=("https://github.com/simonmichael/hledger/issues/982")
prs=("https://github.com/simonmichael/hledger/pull/1832")
