#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
    #!/bin/bash
    repository_id=3
    display_name=shellcheck
    repository_name=koalaman/shellcheck/
    repository_url="https://github.com/koalaman/shellcheck.git"
    license=GPL3
    build_framework=stack
    test_frameworks=(QuickCheck)
fi

# Bug
full_bug_id="shellcheck-1"
bug_id="1"
fault_commit="9008a6833bb5996f248dad0bde3c3e05ec22e65d"
fix_commit="fdd02c94c01b81b78e2dada903ea88e29a39befe"
patch_test=true
ghc_version="9.2.4"
description="ShellCheck warned for a non-assigned variable due to nesting and a pattern matcch, despite correct snytax."
categories=("parsing")
issues=("https://github.com/koalaman/shellcheck/issues/1759")
prs=("https://github.com/koalaman/shellcheck/pull/1779")
