#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="6"
display_name="pandoc"
repository_name="jgm/pandoc"
repository_url="https://github.com/jgm/pandoc.git"
license="GPLv2"
build_framework="stack"
test_frameworks=("tasty" "tasty-golden" "tasty-hunit" "tasty-quickcheck")
fi

# Bug
full_bug_id="pandoc-1"
bug_id="1"
fault_commit="b0195b7ef4d55c1d7339cd77aa0e3a039a095807"
fix_commit="b888a8c77e35cc028725aff0f581475ec0481af9"
patch_test=true
ghc_version="8.10.7"
description="xref elements can link to figures, but the text inserted for the title of the link would be 'figure_title' rather than the title of the figure. The fix is to add the 'title' attribute to a switch selecting the attribute to use as a title."
categories=("integration-test" "golden-test")
issues=("https://github.com/jgm/pandoc/issues/8064")
prs=("https://github.com/jgm/pandoc/pull/8065")
