#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="9"
display_name="duckling"
repository_name="facebook/duckling"
repository_url="https://github.com/facebook/duckling.git"
license="BSD"
build_framework="cabal"
test_frameworks=("tasty" "tasty-hunit" "tasty-golden")
fi

# Bug
full_bug_id="duckling-4"
bug_id="4"
fault_commit="f2798021b6a2f0a3ab15797e924830ccf52344f3"
fix_commit="28ddc3bff7adf68474552c726c5dba1e0d9cbbd4"
patch_test=true
ghc_version="8.8.3"
description="Duckling can parse multiple items, and sometimes these can be ambigious depending on their context. In the spanish, 'una hora' can either refer to 1PM or to 1 hour, which was not properly recognized before. The fix is to account for this ambiguity with the existing ambiguity logic."
categories=("unit-test" "parsing" "ambiguity")
issues=("")
prs=("https://github.com/facebook/duckling/pull/504")
