#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="4"
display_name="hls"
repository_name="haskell/haskell-language-server"
repository_url="https://github.com/haskell/haskell-language-server.git"
license="Apache-2.0"
build_framework="stack"
test_frameworks=("lsp-test" "tasty" "tasty-expected-failure" "tasty-golden" "tasty-hunit" "tasty-rerun" "tasty-hspec" "hspec" "QuickCheck" "tasty-quickcheck" "ghcide-test-utils")
fi

# Bug
full_bug_id="hls-3"
bug_id="3"
fault_commit="771d8f44e694c70d0ee487f2bd6d095fd5e1b99f"
fix_commit="c3c73cf30bf8b59182e6df674e3f804b55b062ea"
patch_test=true
ghc_version="8.10.7"
description="Completions did not contain locally defined type families. The fix is to add type family definitions in class declarations."
categories=("integration-test")
issues=("")
prs=("https://github.com/haskell/haskell-language-server/pull/2987")
