#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="9"
display_name="duckling"
repository_name="facebook/duckling"
repository_url="https://github.com/facebook/duckling.git"
license="BSD"
build_framework="cabal"
test_frameworks=("tasty" "tasty-hunit" "tasty-golden")
fi

# Bug
full_bug_id="duckling-1"
bug_id="1"
fault_commit="c6a48a1d0678a389f86d17db2676e1a289e355ce"
fix_commit="ea8a4f6d3b5bac8ffed1ee339126c2fdb375ded5"
patch_test=true
ghc_version="8.10.7"
description="Duckling tries to recognize quantities and numbers, including 'millions' in german language. The previous regex did not account for millions, which use a different (rarer) pronomina. The fix is to adjust the regex with an additional case."
categories=("unit-test" "language" "regex")
issues=("")
prs=("https://github.com/facebook/duckling/pull/684")
