#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="3"
display_name="shellcheck"
repository_name="koalaman/shellcheck/"
repository_url="git@github.com:koalaman/shellcheck/"
license="GPL3"
build_framework="stack"
test_frameworks=("QuickCheck")
fi

# Bug
full_bug_id="shellcheck-5"
bug_id="5"
fault_commit="5005dc0fa1f62e4d82348e342832470818120041"
fix_commit="0d1a34a291ed3787f261986b026129b267d2d4bf"
patch_test=true
ghc_version="9.2.5"
description="The @ Character would not be recognized as valid in function names"
categories=("Edge-Cases" "Parsing")
issues=("https://github.com/koalaman/shellcheck/issues/949" "https://github.com/koalaman/shellcheck/issues/909")
prs=("https://github.com/koalaman/shellcheck/pull/1302")
