#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="8"
display_name="purescript"
repository_name="purescript/purescript"
repository_url="https://github.com/purescript/purescript.git"
license="Custom Copyleft"
build_framework="cabal"
test_frameworks=("hspec" "hunit" "quickcheck")
fi

# Bug
full_bug_id="purescript-1"
bug_id="1"
fault_commit="3d6b8bf7ffee6c6be85580b7daa765a9b54d0564"
fix_commit="ea118aec3d54a4918825b1e438d3ae4bb9181447"
patch_test=true
ghc_version="9.2.4"
description="When users asked for possible values in Type Holes, the suggested values where (sometimes) duplicated"
categories=("desugaring-issue" "integration")
issues=("https://github.com/purescript/purescript/issues/4373")
prs=("https://github.com/purescript/purescript/pull/4374")
