#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="6"
display_name="pandoc"
repository_name="jgm/pandoc"
repository_url="https://github.com/jgm/pandoc.git"
license="GPLv2"
build_framework="stack"
test_frameworks=("tasty" "tasty-golden" "tasty-hunit" "tasty-quickcheck")
fi

# Bug
full_bug_id="pandoc-3"
bug_id="3"
fault_commit="a25e79b5bef9a55c076351d1321675e26513f8ac"
fix_commit="5001fd3f4d0daee5802a78f6d99d538ff9db4336"
patch_test=true
ghc_version="8.10.7"
description="When multiple paragraphs were present under a single list item, DOCXs would annotate each paragraph with the list item number, but should instead only annotate the first. Fix is to add a marker that is set when the first annotation is done and checked on every subsequent annotation."
categories=("integration-test" "golden-test")
issues=("https://github.com/jgm/pandoc/issues/7689")
prs=("https://github.com/jgm/pandoc/pull/7822")
