#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
	 #!/bin/bash
	 repository_id="1"
	 display_name="hledger"
	 repository_name="simonmichael/hledger"
	 repository_url="git@github.com:simonmichael/hledger"
	 license="GPL-3.0"
	 build_framework="stack"
	 test_frameworks=("doctest" "tasty" "tasty-hunit" "hspec" "yesod-test" )
fi

# Bug
full_bug_id="hledger-1"
bug_id="1"
fault_commit="ef5e7511c2a07f68a0c1d24af683ae36e701fd76"
fix_commit="8c79d6529d748c18d957cd732e1d1e9e07d661fc"
patch_test=false
ghc_version="8.4.3"
description="A combination of operating modes did not work because price information was copied where it should not have been."
categories=("unit")
issues=("https://github.com/simonmichael/hledger/issues/862")
prs=("https://github.com/simonmichael/hledger/pull/874")
