#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="3"
display_name="shellcheck"
repository_name="koalaman/shellcheck/"
repository_url="git@github.com:koalaman/shellcheck/"
license="GPL3"
build_framework="stack"
test_frameworks=("QuickCheck")
fi

# Bug
full_bug_id="shellcheck-4"
bug_id="4"
fault_commit="819470fa1de0e024125aad7e2d2499ca5627f8b9"
fix_commit="f7857028f7a019b47c8a5294dd8d4182e5bed864"
patch_test=true
ghc_version="9.2.5"
description="The used regex did not account for all end-of-line characters"
categories=("regex" "special characters")
issues=("https://github.com/koalaman/shellcheck/issues/2476")
prs=("https://github.com/koalaman/shellcheck/pull/2543")
