#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="4"
display_name="hls"
repository_name="haskell/haskell-language-server"
repository_url="https://github.com/haskell/haskell-language-server.git"
license="Apache-2.0"
build_framework="stack"
test_frameworks=("lsp-test" "tasty" "tasty-expected-failure" "tasty-golden" "tasty-hunit" "tasty-rerun" "tasty-hspec" "hspec" "QuickCheck" "tasty-quickcheck" "ghcide-test-utils")
fi

# Bug
full_bug_id="hls-5"
bug_id="5"
fault_commit="548ca17cc73546407ac6e2cd26068a12f2d56af7"
fix_commit="afac9b1872be33ab8680850be7446bed0053af3a"
patch_test=true
ghc_version="9.6.3"
description="Many HSL Plugins deal with text-alternation. One ('stylish-Haskell'), that does formatting on a file level, removes the last line of the file. The fix is to guard the formatting against different types of file-endings."
categories=("unit-test" "whitespace" "string-manipulation" "missing-check")
issues=("https://github.com/haskell/haskell-language-server/issues/3847")
prs=("https://github.com/haskell/haskell-language-server/pull/3854")
