#!/bin/bash

repository_id="4"
display_name="hls"
repository_name="haskell/haskell-language-server"
repository_url="git@github.com:haskell/haskell-language-server"
license="Apache-2.0"
build_framework="stack"
test_frameworks=("lsp-test" "tasty" "tasty-expected-failure" "tasty-golden" "tasty-hunit" "tasty-rerun" "tasty-hspec" "hspec" "QuickCheck" "tasty-quickcheck" "ghcide-test-utils")
