#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="5"
display_name="yi"
repository_name="yi-editor/yi"
repository_url="git@github.com:yi-editor/yi"
license="GPL-2.0"
build_framework="stack"
test_frameworks=("tasty" "tasty-hunit" "tasty-quickcheck" "QuickCheck" "tasty-th")
fi

# Bug
full_bug_id="yi-1"
bug_id="1"
fault_commit="20fbaea9353e02c353b882c8e83f89c3d88d720f"
fix_commit="909ef8329157fc89850a76e22a3542423ca371ac"
patch_test=true
ghc_version="8.0.2"
description="@@ should replay the last used macro with Vim bindings, but didn't."
categories=("integration-test" "golden-test")
issues=("https://github.com/yi-editor/yi/issues/1026")
prs=("https://github.com/yi-editor/yi/pull/1028")
