#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="7"
display_name="cabal"
repository_name="haskell/cabal"
repository_url="git@github.com:haskell/cabal"
license="BSD-3"
build_framework="stack"
test_frameworks=("QuickCheck" "tasty" "tasty-quickcheck" "Cabal-QuickCheck" "tasty-hunit" "tasty-golden" "tasty-expected-failure")
fi

# Bug
full_bug_id="cabal-1"
bug_id="1"
fault_commit="0184445b83af20dd9bb0e2ec09a8ba4b8d14a755"
fix_commit="55e036a2c40586bc0f69aaa7d85aab931a0a5c80"
patch_test=true
ghc_version="8.10.7"
description="'cabal run' termination does not terminate all child processes automatically as well. The solution is to use 'withCreateProcess' rather than 'createProcess' and throw an asynchronous exception from the main thread when a termination is wanted."
categories=("system-test")
issues=("https://github.com/haskell/cabal/issues/7914")
prs=("https://github.com/haskell/cabal/pull/7921" "https://github.com/haskell/cabal/pull/7757")
