#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="6"
display_name="pandoc"
repository_name="jgm/pandoc"
repository_url="https://github.com/jgm/pandoc.git"
license="GPLv2"
build_framework="stack"
test_frameworks=("tasty" "tasty-golden" "tasty-hunit" "tasty-quickcheck")
fi

# Bug
full_bug_id="pandoc-4"
bug_id="4"
fault_commit="a21d6e9fa6d9e0287b6db05fc663810337ef3f9a"
fix_commit="f317ec41a1948e35330364c3120d937cc9934888"
patch_test=true
ghc_version="8.10.7"
description="Formatting in code blocks is not allowed by pandoc, causing bold code to be possible but a code block with parts bold in it impossible for LaTeX. The fix is to make sure formatting of a code block happens outside of the codeblock."
categories=("integration-test")
issues=("https://github.com/jgm/pandoc/issues/7525")
prs=("https://github.com/jgm/pandoc/pull/8129")
