#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="6"
display_name="pandoc"
repository_name="jgm/pandoc"
repository_url="https://github.com/jgm/pandoc.git"
license="GPLv2"
build_framework="stack"
test_frameworks=("tasty" "tasty-golden" "tasty-hunit" "tasty-quickcheck")
fi

# Bug
full_bug_id="pandoc-2"
bug_id="2"
fault_commit="6b7a68869593bbf8097bbcd39021fcaa3523270e"
fix_commit="e146b1ff3b1c4204a678269a967d94f1df4b38c0"
patch_test=true
ghc_version="8.10.7"
description="When a file was rendered into DOCX with two tables in them, the space between them would be deleted when there was some comment block in-between. However, the comment should be ignored and a paragraph should be inserted anyway for spacing."
categories=("integration-test" "golden-test")
issues=("https://github.com/jgm/pandoc/issues/7724")
prs=("https://github.com/jgm/pandoc/pull/7844")
