#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="6"
display_name="pandoc"
repository_name="jgm/pandoc"
repository_url="git@github.com:jgm/pandoc"
license="GPLv2"
build_framework="stack"
test_frameworks=("tasty" "tasty-golden" "tasty-hunit" "tasty-quickcheck")
fi

# Bug
full_bug_id="pandoc-6"
bug_id="6"
fault_commit="b64ece76cb9f21e41b19678dc8ae247dbe9ab4cc"
fix_commit="83c1ce1d77d3ef058e4e5c645a8eb0379fab780f"
patch_test=true
ghc_version="8.10.7"
description="Inline Markdown code-blocks had a slight parsing/priority problem. Code blocks with '(1)' in them would be wrongly delimited."
categories=("unit-test")
issues=("https://github.com/jgm/pandoc/issues/6284")
prs=("https://github.com/jgm/pandoc/pull/6289")
