#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="3"
display_name="shellcheck"
repository_name="koalaman/shellcheck/"
repository_url="https://github.com/koalaman/shellcheck.git"
license="GPL3"
build_framework="stack"
test_frameworks=("QuickCheck")
fi

# Bug
full_bug_id="shellcheck-2"
bug_id="2"
fault_commit="9eb63c97e6a5764b2fe0cb3e3e36cea5ade72a13"
fix_commit="0d58337cdd05d4d724ce1db4bcd6e1eb6c8721cf"
patch_test=true
ghc_version="9.2.5"
description="Shellcheck warned for elements within a range ([]) to be repetitive, but that also warned for wishfully repeated element such as variables."
categories=("value-checks" "edge-case")
issues=("https://github.com/koalaman/shellcheck/issues/2285" "https://github.com/koalaman/shellcheck/issues/2113")
prs=("")
