#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="7"
display_name="cabal"
repository_name="haskell/cabal"
repository_url="https://github.com/haskell/cabal.git"
license="BSD-3"
build_framework="stack"
test_frameworks=("QuickCheck" "tasty" "tasty-quickcheck" "Cabal-QuickCheck" "tasty-hunit" "tasty-golden" "tasty-expected-failure")
fi

# Bug
full_bug_id="cabal-5"
bug_id="5"
fault_commit="e74a53b3d8b1a52cb86a8232e2e745d1bd64a8d7"
fix_commit="41ed090a399791ff3a65f4059aa987e37fa9d262"
patch_test=true
ghc_version="8.10.7"
description="When initialising a project with the '--no-comments' flag, cabal fields that would normally be commented out still had comments in front of them. Expected behaviour was that comments were not present in front of any fields, commented out or not. Solution is to always remove comments when the '--no-comments' flag is set."
categories=("golden-test" "existing-tests" "system-test")
issues=("https://github.com/haskell/cabal/issues/7769")
prs=("https://github.com/haskell/cabal/pull/7770")
