#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="6"
display_name="pandoc"
repository_name="jgm/pandoc"
repository_url="https://github.com/jgm/pandoc.git"
license="GPLv2"
build_framework="stack"
test_frameworks=("tasty" "tasty-golden" "tasty-hunit" "tasty-quickcheck")
fi

# Bug
full_bug_id="pandoc-7"
bug_id="7"
fault_commit="3766e03c7d2e4fb0378bb9de1420fa4f6c8107a2"
fix_commit="482a2e50798481f484267bdcfb7b305ea7bd7971"
patch_test=true
ghc_version="8.10.7"
description="Empty table cells were filtered out when reading LaTeX tables without handling multirows and multicols properly. By adding code for recognising multicols/rows correctly, empty cells can now be filtered without shifting other cells out of place."
categories=("unit-test")
issues=("https://github.com/jgm/pandoc/issues/6681")
prs=("https://github.com/jgm/pandoc/pull/6608")
