#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="9"
display_name="duckling"
repository_name="facebook/duckling"
repository_url="https://github.com/facebook/duckling.git"
license="BSD"
build_framework="cabal"
test_frameworks=("tasty" "tasty-hunit" "tasty-golden")
fi

# Bug
full_bug_id="duckling-3"
bug_id="3"
fault_commit="1dac46a8ce001d9f12361ba9b138805de514b072"
fix_commit="4cfe88ead1350ef9e5e3ad68eeba6d0b31fc662d"
patch_test=true
ghc_version="8.6.3"
description="Duckling recognizes times mentioned in a text, but fails to (extensively) parse combined times such as `2 hours and 30 minutes`. Instead of parsing it to 150 minutes, it is parsed into 120 minutes and 30 minutes. The fix adds combinator rules based on keywords and changes the rule-application-order."
categories=("unit-test" "time" "parsing")
issues=("")
prs=("https://github.com/facebook/duckling/pull/483")
