#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
	 #!/bin/bash
	 repository_id="1"
	 display_name="hledger"
	 repository_name="simonmichael/hledger"
	 repository_url="git@github.com:simonmichael/hledger"
	 license="GPL-3.0"
	 build_framework="stack"
	 test_frameworks=("doctest" "tasty" "tasty-hunit" "hspec" "yesod-test" )
fi

# Bug
full_bug_id="hledger-2"
bug_id="2"
fault_commit="7063eba13ccaffa6118450adb191571851e45cec"
fix_commit="75fc6767a9b326c3eb13f5f8b7bf7dabe65a3979"
patch_test=true
ghc_version="8.10.7"
description="Division by 0 because the first non-empty number in a list was used, but not checked to be 0 by chance."
categories=("integration-test")
issues=("https://github.com/simonmichael/hledger/issues/1833")
prs=("https://github.com/simonmichael/hledger/pull/1906")
