#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="4"
display_name="hls"
repository_name="haskell/haskell-language-server"
repository_url="git@github.com:haskell/haskell-language-server"
license="Apache-2.0"
build_framework="stack"
test_frameworks=("lsp-test" "tasty" "tasty-expected-failure" "tasty-golden" "tasty-hunit" "tasty-rerun" "tasty-hspec" "hspec" "QuickCheck" "tasty-quickcheck" "ghcide-test-utils")
fi

# Bug
full_bug_id="hls-4"
bug_id="4"
fault_commit="cdc8f78a9852ed35cbfccc191a0b87f59dc9e271"
fix_commit="0b8c793dfdf0d6adb1d4704343fa512c7646a15a"
patch_test=true
ghc_version="8.10.7"
description="Location of generated imports is somewhat incorrect, it may be inserted before the 'where' of a module declaration."
categories=("integration-test" "overhaul")
issues=("https://github.com/haskell/haskell-language-server/issues/2414")
prs=("https://github.com/haskell/haskell-language-server/pull/2981")
