#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="7"
display_name="cabal"
repository_name="haskell/cabal"
repository_url="https://github.com/haskell/cabal.git"
license="BSD-3"
build_framework="stack"
test_frameworks=("QuickCheck" "tasty" "tasty-quickcheck" "Cabal-QuickCheck" "tasty-hunit" "tasty-golden" "tasty-expected-failure")
fi

# Bug
full_bug_id="cabal-2"
bug_id="2"
fault_commit="2e9af5bb241f187bedf149d2ef272570384e5991"
fix_commit="1b8bf8ccb58c131efcbb3925bcbb5bd4c14adc03"
patch_test=true
ghc_version="8.10.7"
description="'cabal init -i' does not automatically fill in author name and e-mail anymore. The solution is to add a guess to the prompt."
categories=("golden-test" "unit-test")
issues=("https://github.com/haskell/cabal/issues/8255")
prs=("https://github.com/haskell/cabal/pull/8267")
