#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="7"
display_name="cabal"
repository_name="haskell/cabal"
repository_url="https://github.com/haskell/cabal.git"
license="BSD-3"
build_framework="stack"
test_frameworks=("QuickCheck" "tasty" "tasty-quickcheck" "Cabal-QuickCheck" "tasty-hunit" "tasty-golden" "tasty-expected-failure")
fi

# Bug
full_bug_id="cabal-4"
bug_id="4"
fault_commit="aabe56252fcceb58f2f3f80451bba7ca13109266"
fix_commit="84884bbc21a63b61d698138f549baae152efd878"
patch_test=true
ghc_version="8.10.7"
description="'--dry-run' did not actually dry-run for commands 'v2-configure', 'v2-freeze', 'v2-run', and 'v2-exec'. Instead, the dry-run flag was ignored and the commands did perform a few actions. The fix is to add if-expressions where needed in the commands' code to perform the dry-run as expected."
categories=("system-test" "golden-test")
issues=("https://github.com/haskell/cabal/issues/7379")
prs=("https://github.com/haskell/cabal/pull/7407")
