#!/bin/bash

# Repository 
if [[ ! "$1" == "norepo" ]]; then
#!/bin/bash

repository_id="7"
display_name="cabal"
repository_name="haskell/cabal"
repository_url="https://github.com/haskell/cabal.git"
license="BSD-3"
build_framework="stack"
test_frameworks=("QuickCheck" "tasty" "tasty-quickcheck" "Cabal-QuickCheck" "tasty-hunit" "tasty-golden" "tasty-expected-failure")
fi

# Bug
full_bug_id="cabal-3"
bug_id="3"
fault_commit="a49c1ddae0d768b6978cac76a50a01447e7066b6"
fix_commit="52cc82d430e6b9efa4024138119cc26b787d47ad"
patch_test=true
ghc_version="8.10.7"
description="'cabal HEAD' is confused by trailing whitespaces in 'default-language' tags. The solution is to fix parsing from 'some anyChar' to 'munch1 isAlphaNum'."
categories=("system-test")
issues=("https://github.com/haskell/cabal/issues/8507")
prs=("https://github.com/haskell/cabal/pull/8508")
